* {
    font-family: Garamond;
    color: hsl(85.71deg 17.95% 84.71%);

}

body {
    background-color: hsl(77, 7%, 59%);
}

h1 {
    background-color: hsl(72, 6%, 15%);
    text-align: center;
    padding: 0.3em;
    border-radius: 5px;

}

.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li>a {
    text-decoration: none;
    color: #1a659e;
    font-weight: 700;
    font-size: 2rem;
    list-style-type: none;
}

img {
    border-radius: 10px;
}

.recipe-img,
.main-img {
    width: 50%;
    border: #929989 solid 2px;
}

.main-img {}

.main-recipe {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(86, 21%, 85%);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

h3 {
    margin: 0;
    margin-bottom: 0.5em;
}
